:root {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    --blanco: rgb(242,242,242);
    --negro: rgb(34, 40, 49);
    --amarillo: rgb(242, 158, 56);
    --bg-section: rgba(211, 203, 203, 0.212);
    --bg-button: rgb(51, 51, 51);
    --br-shadows: rgba(49, 49, 49, 0.3);
    --br-input: rgb(204, 204, 204);   
}
header {
    background-color: #000000;
    color:#C69749;
    text-align: center;
    padding: 16px;    
}
h1 {
    font-weight: 700;
    display: inline-block;
    width: 400px;
}
h3 {
    font-size: 30px;
    font-weight: 700;
}
p {
    display:inline-block;
    width: 400px;
}
.nombre {
    font-weight: 700;
}

.subheader {
    background-color: #C69749;
    color:#000000;
    text-align: center;
    padding: 10px;    
}
section {
    background-color: #282A3A; 
}
.container {    
    color: #735F32;
    width: 960px;  
    margin-left: auto;
    margin-right: auto;
}
.education {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
#carrusel{  
    background-color: var(--bg-section);  
    display: flex;    
    width: 50%;
    height: 100%;
}
#carousel-container {    
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    box-shadow: 2px 2px 5px var(--br-shadows);
}
#carousel-images {
    position: relative;
    /* padding: 20px; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    transition: transform 0.5s ease;
    animation: carouselAnimation 10s infinite linear;
}
.titulo-carrusel{    
    position: absolute;
    display: flex;
    justify-content: center; 
    width: 100%;
    text-align: center;
    z-index: 2;
}
.titulo-carrusel h2{
    background-color: var(--blanco);
    margin-top: 19px;
    font-size: 24px;
}
#carousel-images img {
    width: 100%;
    height: 29rem;
    object-fit: contain;
}
.prev-button,
.next-button {
    background-color: var(--bg-button);
    color: var(--blanco);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    font-size: 18px;
}

.courses {
    display: flex;
    align-items: center;
    width: 68%;
}
.courses-list {
    width: 100%;
}
.photo {
    display: inline-block;
    width: 30%;    
}
.experience {
    margin-top: 70px;
}
dt {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 36px;
}
.accounts {
    margin-top: 12px;
    padding: 1;
}
li {
    margin-top: 16px;
}
.link {
    color: #735F32;
}